@font-face {
    font-family: 'gg sans';
    src: url('/fonts/ggsans.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'gg sans';
    src: url('/fonts/ggsansitalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'gg sans';
    src: url('/fonts/ggsansmedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'gg sans';
    src: url('/fonts/ggsansmediumitalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'gg sans';
    src: url('/fonts/ggsanssemibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'gg sans';
    src: url('/fonts/ggsanssemibolditalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'gg sans';
    src: url('/fonts/ggsansbold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'gg sans';
    src: url('/fonts/ggsansbolditalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'gg sans';
    src: url('/fonts/ggsansextrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'gg sans';
    src: url('/fonts/ggsansextrabolditalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'gg sans mono';
    src: url('/fonts/ggsansmono.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'gg sans mono';
    src: url('/fonts/ggsansmonobold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}